._32qa button{opacity:.4}._59ov{height:100%;height:910px;position:relative;top:-10px;width:100%}._5ti_{background-size:cover;height:100%;width:100%}._5tj2{height:900px}._2mm3 ._5a8u .uiBoxGray{background:#fff;margin:0;padding:12px}

/*
     FILE ARCHIVED ON 20:33:20 Mar 28, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:48:09 Mar 30, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.827
  captures_list: 0.542
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.014
  esindex: 0.009
  cdx.remote: 96.79
  LoadShardBlock: 431.667 (3)
  PetaboxLoader3.datanode: 138.418 (4)
  PetaboxLoader3.resolve: 597.876 (2)
  load_resource: 309.449
*/